useDynLib(buckshot)

import(methods)
import(Matrix)

# import(Rcpp)

importFrom(stats,
  coef,
  fitted,
  na.omit,
  predict,
  terms)

exportClasses(
  BuckshotData,
  BuckshotModel
)

exportMethods(
  buckshot,
  BuckshotData,
  
  bias,
  coef,
  fitted,
  predict
)

export(buckshot)